.calculator_comp_content{
    position: absolute;
    border: 5px solid #e63946;
    width: 20em;
    overflow: hidden;
    height: 35em;
    border-radius: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.calculator_comp_content_number_section{
    background-color: #1d3557;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.calculator_comp_content_number_section_itm{
    font-size: 5em;
    color: white;
    padding:0em .5em .2em 0em;
}

.calculator_item_content_section {
    display: grid;
}


.calculator_items_content:nth-child(16){
    grid-column: 4;
    grid-row: 4 / span 5;
}


.calculator_items_content:nth-child(17){
    grid-column: 1 / span 2;
    grid-row: 5 ;
}